#mainContainer
{
    height: 100%;
    width: 100%;
 
}
body
{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
.socialImage
{
    width: 22px;
    height: 20px;
}
.headLogo
{
    height: 60px;
    width: 60px;
}
#hotelImage
{
    width: 500px;
    height: 500px;
}
header
{
    background-color: rosybrown;
}
footer
{
    background-color: rosybrown;
}
#detailCard
{
    margin: 1% 4% 2% 4%;
}