#mainContainer
{
    height: 100%;
    width: 100%;

    margin-bottom: 100px;
 
}
.checked {
    color: orange;
  }
  .halfChecked {
      background: linear-gradient(
              to right, orange 30%, #eedd44);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
  }
  
  
  .modal-header, h4, .close {
      text-align: left;
      font-size: 30px;
    }
    .modal-footer {
      background-color: white;
       text-align: left;
    }
    .modal-backdrop.show {
      opacity: 0;
  }
  .modal-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1040;
      width: 0;
      height: 0;
      background-color: #000;
  }
body
{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;

}
.login
{
    position: absolute;
                top: 15px;
                right: 5px;
                text-decoration: none;
                color: black;
                font-weight: bold;
}

.socialLogo
{
    width: 22px;
    height: 20px;
    margin-top:15px;
}
.headLogo
{
    height: 60px;
    width: 60px;
}
.hotelImage
{
    width: 500px;
    height: 400px;
    margin: 7% 4% 0% 4%;
}
header
{
    background-color: rosybrown;
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

footer
{
    height: 80px;
    width: 100%;
    background-color: rosybrown;
    bottom: 0;
    position: fixed;
    top:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    z-index: 10;

    
}

#detailCard
{
    margin: 1% 4% 2% 4%;
}
.login {
    position: absolute;
    top: 15px;
    right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#contactus{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}
.hotel-form {
    width:100%;
    margin:0;
    padding: 2%;
    height:50%;
    box-sizing: border-box;
    display: flex;
}
.box1 {
    width: 60%;
     height: auto;
    border: 2px solid black;
    float:right;
    display: flex;
    justify-content: center;
}
.box2 {
    width: 40%;
    height: 100%;
    float:left;
    overflow: hidden;
    border: 2px solid black;
}
.labelStyle {
    margin: 2%;
    height:max-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.submitstyle {
    height: 50px;
    width: 120px;
    padding: 1% 2%;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%; 
    border-color: green;
                color: green;
                border-radius: 5%; 
}
.submitstyle:hover {
    color: white;
    background-color: green;
}
.boxWidth
{
    width: 60%;
}

.formStyle{
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;

    
}
