#mainContainer
{
    height: 100%;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
 
}
body
{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;

}
.login
{
    position: absolute;
                top: 15px;
                right: 5px;
                text-decoration: none;
                color: black;
                font-weight: bold;
}

.socialImage
{
    width: 22px;
    height: 20px;
    margin-top:15px;
}
.headLogo
{
    height: 60px;
    width: 60px;
}
#hotelImage
{
    width: 500px;
    height: 400px;
    margin: auto;
}
header
{
    background-color: rosybrown;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
}
header>*:first-child {
    margin-left: 1%;
}
header>*:last-child {
    margin-right: 1%;
}
footer
{
    height: 80px;
    width: 100%;
    background-color: rosybrown;
    bottom: 0;
    position: fixed;
    top:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
footer>*:first-child {
    margin-left: 2%;
}

footer>*:last-child {
    margin-right: 2%;
}
#detailCard
{
    margin: 1% 4% 2% 4%;
}
.login {
    position: absolute;
    top: 15px;
    right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#contactus{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}
.hotel-form {
    width:100%;
    margin:0;
    padding: 2%;
    height:50%;
    box-sizing: border-box;
    display: flex;
}
.box1 {
    width: 60%;
     height: auto;
    border: 2px solid black;
    float:right;
    display: flex;
    justify-content: center;
}
.box2 {
    width: 40%;
    height: 100%;
    float:left;
    overflow: hidden;
    border: 2px solid black;
}
.labelStyle {
    margin: 2%;
    height:max-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.submitstyle {
    padding: 1% 2%;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%;  
}
.boxWidth
{
    width: 60%;
}
