button {
    /* border-radius: 0; */
    border: none;
    background-color: #e0e0e0;
}
button:active{
    border: none;
}
.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.checked {
  color: orange;
}
.halfChecked {
    background: linear-gradient(
            to right, orange 30%, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.modal-header, h4, .close {
    text-align: left;
    font-size: 30px;
  }
  .modal-footer {
    background-color: white;
     text-align: left;
  }
  .modal-backdrop.show {
    opacity: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 0;
    height: 0;
    background-color: #000;
}
            body {
                width : 100%;
                height: 100%;
                margin:0px;
                background-color: #e0e0e0;
                font-family: 'Ubuntu', sans-serif;
                
                
            }
            #full{
                margin-top: 80px;
                margin-bottom: 100px;
                
                
            }
            .hotelImage {
                height: 200px;
                width: 250px;
                align-self: flex-start;
            
            }

            .logo {
                height:60px; 
                width:60px;
            }

            .socialLogo {
                height :20px;
                width : 22px;
            }

            header {
                background-color: rosybrown;
                position: fixed;
                top: 0;
                left:0;
                width: 100%;
                height:10%;
                display: flex;
                justify-content: space-between;
                
                }

            footer {
                background-color: rosybrown;
                width: 100%;
                bottom: 0;
                position: fixed;
                height: auto;
            	top:auto;
                display: flex;
                justify-content:space-between;
                vertical-align: middle;
                padding: 1%;
                
             }
             
            .contentDiv {
                margin: 5%;
                background-color:lightgrey;
                width: 250px;
                height: 200px;
                display: flex;
                flex: 30%;   
            
            }

            .contentDiv:hover{
                background-color: rosybrown;
            }

            .column {
                display: flex;
            flex-wrap: wrap;
            }

            .textRight {
                flex: 1 1 auto;
                margin: 5%;
                justify-content: center;
            }
 
           .login {
                position: absolute;
                top: 15px;
                right: 5px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                margin-right: 10px;
            }

            .view {
                text-decoration: none;
                padding-left: 42%;
                padding-right: 2%;
                
            }

            #linkSty{
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
