body
{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;

}
.socialImage
{
    width: 22px;
    height: 20px;
}
.headLogo
{
    height: 60px;
    width: 60px;
}
#Main
{
    height: 100%;
    width: 100%;

}
.list-image
{
    width: 250px;
    height: 200px;
}
.hotel-card
{
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}
header
{
    background-color: rosybrown;
}
footer
{
    background-color: rosybrown;
}