#mainContainer
{
    height: 100%;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}
body
{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
.socialImage
{
    width: 22px;
    height: 20px;
    margin-top:15px;
}
.headLogo
{
    height: 60px;
    width: 60px;
}
#hotelImage
{
    width: 500px;
    height: 500px;
}
header {
    background-color: rosybrown;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:auto;
}
footer {
    background-color: rosybrown;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: auto;
    top:auto;
}
#hotel
{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    justify-content: center;
    margin:2% auto ;
    
}
#custInfo
{
    margin: 2%;
}
#tarrif
{
    margin: 2%;
    border: black solid 1px;
    border-radius: 5px;
    padding: 1% 2%;
}
#linkSty{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#contactus{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}
.login {
    position: absolute;
    top: 15px;
    right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#linkSty{
    text-decoration: none;
    color: black;
    font-weight: bold;
}