#mainContainer
{
    height: 100%;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}
body
{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
.socialLogo
{
    width: 22px;
    height: 20px;
    margin-top:15px;
}
.headLogo
{
    height: 60px;
    width: 60px;
}
.hotelImage
{
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    float:left;
    flex: 40%;
}
header {
    background-color: rosybrown;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:10%;
    display: flex;
    justify-content: space-between;
    
    
    }

footer {
    background-color: rosybrown;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: auto;
    top:auto;
    display: flex;
    left:0;
    justify-content:space-between;
    vertical-align: middle;
    padding:1%;
    
 }
#hotel
{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    justify-content: center;
    margin:2% auto ;
    
}
#custInfo
{
    margin: 2%;
}
.info {
    background-color: rgb(132,136,139);
    max-width: 60%;
    min-width: 25%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 2%;
    display: flex;
    flex: 100%;
    
}
.tarrif
{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
    background-color: rosybrown;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
#linkSty{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#contactus{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}
.login {
    position: absolute;
    top: 15px;
    right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#linkSty{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.detailsColumn{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    margin:2%;
    width:100%;
    padding-right: 10%;
    
    

}